<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form method="POST"  action="{% url 'create-team' %}" >
  {% csrf_token %}
    <input type="text" name="tname" class="form-control" id="tname" placeholder="tname">
     <input type="hidden" name="pids" class="form-control" id="player" placeholder="player">

    <ol id="dynamic-fields">
    <button class="add_form_field">Add New Player &nbsp;
      <span style="font-size:16px; font-weight:bold;">+ </span>
    </button>
    <div id="playerlist">
        <input type="text" name="pname[1]" placeholder="Name">
        <input type="text" name="score[1]" placeholder="High score">
        <input type="text" name="age[1]" placeholder="Age">
        <input type="hidden" name="id" value="1" >
    </div>
</ol>
        <input type="hidden" name="pids" value="1" id="pids">


   <button type="submit" class="btn btn-primary">Submit</button>
</form>



    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {

    var max_fields = 11;
    var wrapper = $("#dynamic-fields");
    var add_button = $(".add_form_field");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;
            let pids = $("#pids").val();
             $("#pids").val( pids+","+x);
            $(wrapper).append(
                '<div><input type="text" name="pname['+ x +']"   placeholder="Name">' +
                '<input type="text" name="score['+x +']"   placeholder="High score">\n' +
                '<input type="text" name="age['+x +']"   placeholder="Age">\n' +
                '<input type="hidden" name="id" value="'+x +
                '"><a href="#" class="delete">Delete</a></div>'); //add input box
        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
            let pids = $("#pids").val();
           let cc =  $(this).parent('div').children().get(3);
            pids = pids.split(",")
            pids = pids.filter(function (item) {
                return item!= cc.value
                }
            )

        $("#pids").val(pids.join(","));


        $(this).parent('div').remove();
    })
});
</script>



</body>
</html>